<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="hotcall" providerName="System.Data.OracleClient" connectionString="Data Source=jcsoarch;User Id=cad911;Password=cad911;"/>
  </connectionStrings>

  <system.net>
    <mailSettings>
      <smtp from="jcso.hotcalls@jocogov.org">
        <network host="SMTPRelayOut" port="25" defaultCredentials="true"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>